@import url('https://fonts.googleapis.com/css2?family=Akt:wght@100..900&family=Caveat:wght@400..700&family=Fjalla+One&display=swap');


* {
    padding: 0;
    margin: 0;
}

.main {
    background-image: url(assets/images/image.png);
    height: 100vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
    position: relative;
    z-index: 10;
}

nav div{
    position: relative;
    left: 20px;
    top: 8px;
}
nav img{
    width: 150px;
    position: relative;
    z-index: 10;
    left: -30px;
    top: 15px;
}

.hero {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    gap: 23px;
    padding: 0, 30px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 4.5rem;
    text-align: center;
}


.hero> :nth-child(2) {
    font-family: unset;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

body {
    background-color: black;
}

.separation {
    height: 11px;
    background-color: rgb(31, 30, 30);
    width: 100%;
}

.btn {
    padding: 7px 14px;
    font-weight: bold;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.199);
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;
    
}

.btn-red {
    background-color: rgb(219, 1, 1);
    color: aliceblue;
    padding: 14px 31px;
    font-size: 20px;
    border-radius: 10px;
}

.btn-red-sm {
    background-color: red;
    color: aliceblue;
}

.main input {
    padding: 21px 277px 13px 6px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.5);
    border: 1px solid rgba(255, 235, 235, 0.5);
    color: aliceblue;
}




.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    position: relative;  /* Add this */
}

.secImg{
    position: relative;
}

.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;

}

.secImg video{
    position: absolute;
    top: 85px;
    right: 11px;
}

section.first > div{
    display: flex;
    flex-direction: column;
}

.first > div > :first-child{
    font-size: 48px;
    font-weight: bolder;
}

.first > div > :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}


.faq{
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover{
    
    background-color: rgb(70, 66, 66);
}

.faqbox{
    transition: all ;
    display: flex;
    justify-content: space-between;
    background-color: #272626;
    padding: 24px;
    max-width: 60vw;
    margin: 8px auto;
    cursor: pointer;

    font-size: 24px;
    font-weight: bolder;
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer-item{
    display: flex;
    flex-direction: column;
}